
.account {
  background-color: $gradient;
  border-radius: $borderRad;
  border-width: 0.003rem;
  margin-left: $marginRems;
  margin-right: $marginRems;
  box-shadow: $boxShadows;
  padding: 1.2rem;
  @include respond(phone) {
    padding: 1rem;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
  }
  h1 {
    text-align: justify;
  }
  a {
    color: $linkColor;
    cursor: pointer;
  }
  .menu {
    flex-direction: column;
    .option {
      flex: 1;
    }
  }
  .frame {
    display: flex;
    flex-direction: column;
    // border: solid;
    width: inherit;
    a {
      align-self: flex-end;
      padding-left: 1rem;
      margin-right: 1rem;
    }
  }
  .close-icon{
    align-self: end;
    cursor: pointer;
  }
}
