.account {
  background-color: rgba(66, 39, 32, 0.521);
      border-color:rgba(138, 80, 66, 0.521);;
      border-radius: 0.1rem;
      border-style: dashed;
      border-width: 0.003rem;
      // margin: 2rem;
      margin-left: 5rem;
      margin-right: 5rem;
    
      box-shadow: 1px 1px 5px 1px, 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

  padding: 1.2rem;
  @include respond(phone) {
    display: inline;
    padding: 1rem;
    justify-content: left;
  }
  h1 {
    text-align: justify;
  }
  a {
    color: white;
    cursor: pointer;
  }
  .menu {
    flex-direction: column;
    .option {
      flex: 1;
    }
  }
  .frame {
    border: solid;
    width: inherit;
  }
}
