.admin-product {
  display: flex;
  flex-direction: column;

  ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    li{
      justify-self: flex-end;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .search-list {
    background: linear-gradient(rgba(255, 255, 255, 1), rgb(241, 80, 37));
    overflow: auto;
    padding: 1rem;

    .search-list-products {
      margin-top: 3rem;
    }
  }
  .search-filter {
    width: 55rem;
    height: 2rem;
    text-align: center;
    top: 25rem;
    border-color: rgba(138, 80, 66, 0.521);
    border-radius: 0.1rem;
    border-style: dashed;
    border-width: 0.003rem;
    ;
  }

  .results {
    display: flex;
    flex-direction: column;

    a {
      color: rgb(241, 80, 37);
      &:hover {
        text-decoration: none;
      }
    }
    .product-select {
      cursor: pointer;
    }
  }

  .product-form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 1), rgb(241, 80, 37));
    position: fixed;
    z-index: 1;
    border-color: rgba(138, 80, 66, 0.521);
    border-radius: 0.1rem;
    border-style: dashed;
    border-width: 0.003rem;
    box-shadow: 1px 1px 5px 1px, 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    width: 55rem;
    top: 12rem;
    padding: 2rem;
    .submit-button{
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 3rem;
        padding-top: 0.8rem;
        width: 100%;
        text-align: center;
        background-color: darkolivegreen;
        border-radius: 0.3rem;
        box-shadow: 0rem 0.2rem 12px black;
    }
    a {
        color: rgb(241, 80, 37);
        align-self: flex-end;
    }
  }
}
