.admin-product{
display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
@include respond(phone){
                  grid-auto-flow: column;
                    }    
.add-product-form{
	
}
.search-list{
	
}



}