
.backdrop {

  width: 100vw;
  height: 100vh;

  &__image-left {
           @include respond(phone){
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            width: 100vw;
            };
    position: fixed;
    bottom: 0;
    left: 0;
    width:90%;
    height: 90%;
    background-repeat: no-repeat;
    filter: blur(3px);
    clip-path: polygon(0 0, 65% 0%, 55% 100%, 0% 100%);
    overflow: hidden;
  }

  &__image-right {
          @include respond(phone){
          display:none;
          };

    position: fixed;
    bottom: 0;
    left:40%;
    width: 60%;
    height: 90%;
    filter: blur(3px);
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
    overflow: hidden;
  }
}
