

.product-card{
    padding-top: $overlayPad;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: $boxShadows;
    width: 20rem;
    height: 20rem;
    border-radius: $borderRad;
    overflow: hidden;
    .card-overlay{
        width: 20rem;
        height: 20rem;
        margin-top: -1rem;
        position: absolute;
        background-color: $cardOverlay;
        z-index: 0;
        // filter: blur(15rem);
    }
    p {
        height: 6rem;
    }
    img {
        align-self: center;
        width: 20rem;
        height: 15rem;
        
    }
    a {
        text-decoration: underline;
        cursor: pointer;
    }
    h1 {
        color: white;
        width: min-content;
        margin: inherit;
        text-align: left;
        position: relative;
        border-radius: 5rem;
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0.6824930655856092) 0%, rgba(0,0,0,0.37156869583771013) 30%, rgba(255,255,255,0) 70%);
    }
    h3 {
        align-self: flex-end;
    }
    .more-btn{
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 3rem;
        padding-top: 0.8rem;
        width: 100%;
        text-align: center;
        background-color: $buttonColor;
        border-radius: 0.3rem;
        box-shadow: 0rem 0.2rem 12px black;
    }
}