.cart-display{
    display: flex;
    flex-direction: column;
    padding-right: $marginRems;
    padding-left: $marginRems;
.cart-items{
    

    .item{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding-left: 21rem;
        padding-bottom: 1rem;
    }
}
}