.header-comp {

  
  background: #fff;
  border: 1px solid #707070;
  text-align: center;
    &__banner {
    background: linear-gradient(#f4f4f4 0%, #d9d9d9 49.75%, #fff 100%);
    border: 1px solid #707070;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
    &__logo{
          display: block;
          .logo-img{
                 @include respond(phone){
                    margin-top: 1.4rem;
                    height: 7rem;
                    width: 13rem;
                    }
          margin-top: 0.2rem;
          height: 6rem;
          width: 11rem;
          }
        }
    .cart-svg{
      @include respond(phone){
                    display: none;
                    }
            z-index: 10000;
            position: absolute;
            left: 93%;
            top: 3.7rem;
            width: 2.55rem;
            background: transparent;

          }
   
    
} 