.header {
  background: linear-gradient(rgba(255, 255, 255, 1), rgb(241, 80, 37));
  margin-bottom: 2rem;
  .logo{
    margin-left: 0.4rem;
    @include respond(phone) {
      margin-left: 0.5em;
    }
  }
  img {
    margin-left: 4rem;
  }
  .mobile-header {
    display: none;
    @include respond(phone) {
      display: flex;
      margin-left: 15em;
    }
  }

  .desktop-nav {
    @include respond(phone) {
      display: none;
    }
    padding-left: 5rem;
    padding-right: 5rem;
    ul {
      background-color: rgba(66, 39, 32, 0.521);
      border-color: rgba(138, 80, 66, 0.521);
      border-radius: 0.1rem;
      border-style: dashed;
      border-width: 0.003rem;
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      flex-direction: row;
      justify-content: space-evenly;
      box-shadow: 1px 1px 5px 1px, 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    }
  }

  .mobile-nav {
    top: 10.5rem;
    height: 100%;
    width: 27rem;
    right: 0rem;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.034);
    ul {
      background-color: rgba(255, 51, 0, 0.781);
      border-color: rgba(138, 80, 66, 0.521);
      border-radius: 0.1rem;
      border-style: dashed;
      border-width: 0.003rem;
      list-style-type: none;
      margin: 0;
      padding: 2rem;
      box-shadow: 1px 1px 5px 1px, 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
       
    }
  }
}
li {
  height: 2rem;
  padding: 0.2rem;
  align-content: flex-start; 
 
}