.header {
  // background: linear-gradient(#eeecda, #f08a5d);
  // background: linear-gradient(rgba(255, 255, 255, 1), rgb(241, 80, 37));
  margin-bottom: 2rem;
  .logo {
    margin-left: 0.4rem;
    @include respond(phone) {
      margin-left: 0.5em;
    }
  }
  img {
    margin-left: $marginRems;
  }
  .mobile-header {
    display: none;
    @include respond(phone) {
      display: flex;
      margin-left: 15em;
    }
  }

  .desktop-nav {
    @include respond(phone) {
      display: none;
    }
    padding-left: $marginRems;
    padding-right: $marginRems;
    ul {
      background-color: $cleanBG;
      border-color: $borderColor;
      border-radius: $borderRad;
      border-style: solid;
      border-width: 0.003rem;
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      flex-direction: row;
      justify-content: space-evenly;
      box-shadow: $boxShadows;
    }
  }

  .mobile-nav {
    top: 10.5rem;
    height: 100%;
    width: 27rem;
    right: 0rem;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.034);
    ul {
      background-color: $backgroundColor;
      border-color: $borderColor;
      border-radius: $borderRad;
      border-style: solid;
      border-width: 0.003rem;
      list-style-type: none;
      margin: 0;
      padding: 2rem;
      box-shadow: $boxShadows;
    }
  }
}
li {
  height: 2rem;
  padding: 0.2rem;
  align-content: flex-start;
}
