.container {
    display: grid;
    .heading {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .sub-heading{
        text-align: center;
    }
}
