
.menu {
        @include respond(phone){
          z-index:1;
          };
      z-index:1;
      position: fixed;
      width: 100vw;
      background-color: #101110;
      height: 11rem;
      color: #D8ECDA;
  &__selection {
    
    // text-align: center;
    ul {
    position: fixed;
    top: 3rem;
    font-size: 2.1rem;
    @include respond(phone){
            font-size: 1.5rem;
            top: 0.2rem;
            display: block;
            position: absolute;
            left: 30%;
            };
            a {
              color: #252725;
              &:visited {
                  color: #DAE7DD;
                }
                &:hover {
                  color: #6D7F7F;   
                }
                &:active {
                  color: #697B7C;
                }
            }
  }
  li {
          @include respond(phone){
            padding: 0.4rem;
            display: block;
            };
     display: inline;
     padding: 2rem;
     cursor: pointer;
  }
  &-close {
        @include respond(phone){
          top: 4rem;
          left: 1rem;
          
          
          };
    position: fixed;
    left: 90vw;
    top: 4rem;
    cursor: pointer;
  }
  }
}