.product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $gradient;
    border-radius: $borderRad;
    border-width: 0.003rem;
    box-shadow: $boxShadows;
    padding-left: $marginRems;
    padding-right: $marginRems;
    margin-left: $marginRems;
    margin-right: $marginRems;
    .submit-button{
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 3rem;
        padding-top: 0.8rem;
        width: 100%;
        text-align: center;
        background-color: $buttonColor;
        border-radius: $borderRad;
        box-shadow:$boxShadows;
    }
    a {
        color: $linkColor;
        align-self: flex-end;
    }
  }