.product-details{
img{
	height: 6rem;
}
display: flex;
margin-top: 2rem;
padding: 2rem;
width: 80rem;
height: 550.3px;
border-radius: 4px;
background: rgba(255,255,255,0.3);
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

.left{
padding-right: 0.9rem;
width: 50%;
}
.right{
padding-left: 0.9rem;
border-left: 0.4rem solid rgba(158,137,116,0.5);
}

}