.search-list-products {
  padding-left: $marginRems;
  padding-right: $marginRems;
  padding-top: 2rem;
  background-color: $cleanBG;
  margin-left: $marginRems;
  margin-right: $marginRems;
  border-radius: $borderRad;
  border: 0.003rem solid black;
  box-shadow: $boxShadows;
  
  .delete-btn {
    cursor: pointer;
    top: 12rem;
    position: fixed;
    margin-left: 2rem;
    padding: 0.5rem;
    text-align: center;
    background-color: $buttonColor;
    border-radius: $borderRad;
    box-shadow: $boxShadows;
  }
}
