@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.search-list-products {
display: grid;
grid-template-columns: auto;
grid-template-rows: auto auto;

padding: 2rem;
input {
	font-size: 2rem;
    height: 4rem;
    margin-bottom: 2rem;
}
.search {
  position: relative;
}

.search input { text-indent: 0.2rem;}
.search .fa-search { 
  font-size: 2rem;
  position: absolute;
  top: 0.6rem;
  left: 16rem;

}

.results {
  ul{
    list-style-type: none;
    li{
      cursor: pointer;
      
    }
  }
  position: relative;
	background-color: rgba(255,255,255,0.3);
	height: 20rem;
  overflow-y:auto;
	width: 100vh;
}
}