.weekly-menu{

.display-window {
	@include respond(phone){
          grid-gap: 1rem;
          grid-template-columns: repeat(1, auto);
          left: 50%;
          transform: translate(-50%, -0%);
          padding-top: 2rem;
            };
	position: absolute;
    top: 16rem;
    left: 3rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, auto);
	grid-auto-flow: row;
}
	
}