//Build all theme colors and sizes here
$overlayPad: 1rem;
$cardOverlay: rgba(0, 0, 0, 0.4);
$cleanBG: #eeecda;
$linkColor: #868042;
$backgroundColor: #f08a5d;
$borderColor: rgba(138, 80, 66, 0.521);
$highlightColor: #b83b5e;
$marginRems: 5rem;
$gradient: linear-gradient(#eeecda, #f08a5d);
$buttonColor: #337e55;
$borderRad: 0.3rem;
$boxShadows: 1px 1px 5px 1px, 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12);
/////////////////////////////////
//mixins at the top for media queries
//////////////////////////////////
/*
0-600px: phone;
600 - 900px: Tablet portrait
900-1200px: Tablet Landscape
1200 - 1800: desktop;
1800 + : Big Desktop;
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop
*/
@mixin respond($breakpoint){
  @if $breakpoint == phone {
      @media (max-width: 37.5em) { //600px divided by 16
        @content
      };
  }
  @if $breakpoint == tab-port{
      @media (max-width: 56.25em) {
        @content
      };
  } 
  @if $breakpoint == tab-land{
      @media (max-width: 75em) {
        @content
      };
  } 
  @if $breakpoint == big-desktop{
      @media (min-width: 112.5em) {
        @content
      };
  } 
}

a  {
  color: $linkColor
}
.close-icon{
  opacity: 1;
  &:hover{
    opacity:0.7;
  }
}
@import './index.scss',
'./sass/landingPage.scss',
'./sass/loginForm.scss',
'./sass/registerForm.scss',
'./sass/header.scss',
'./sass/weeklyMenu.scss',
'./sass/card.scss',
'./sass/account.scss',
'./sass/customer.scss',
'./sass/adminProducts.scss',
'./sass/productForm.scss',
'./sass/searchListProducts.scss',
'./sass/productDetails.scss',
'./sass/default-comp.scss',
'./sass/cartStatement.scss',
'./sass/reviews.scss'

// @import './sass/menucomp', 
// './sass/reviewedit',
// './sass/reviews',
// './sass/productdetails',
// './sass/cartoverview',
// './sass/searchlistproducts',
// './sass/productform',
// './sass/adminproduct',
// './sass/account',
// './sass/card',
// './sass/productcard',
// './sass/headercomp', 
// './sass/backdrop',
// './sass/header',
// './sass/landingbox',
// './sass/loginform',
// './sass/menuheader',
// './sass/registerform',
// './sass/weeklymenu',
// './sass/banner';
