/////////////////////////////////
//mixins at the top for media queries
//////////////////////////////////
/*
0-600px: phone;
600 - 900px: Tablet portrait
900-1200px: Tablet Landscape
1200 - 1800: desktop;
1800 + : Big Desktop;
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop
*/
@mixin respond($breakpoint){
  @if $breakpoint == phone {
      @media (max-width: 37.5em) { //600px divided by 16
        @content
      };
  }
  @if $breakpoint == tab-port{
      @media (max-width: 56.25em) {
        @content
      };
  } 
  @if $breakpoint == tab-land{
      @media (max-width: 75em) {
        @content
      };
  } 
  @if $breakpoint == big-desktop{
      @media (min-width: 112.5em) {
        @content
      };
  } 
}

.backdrop {
  width: 100vw;
  height: 100vh;
  z-index: -1;

  &__image-left {
           @include respond(phone){
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            width: 100vw;
            };
    position: absolute;
    bottom: 0;
    left: 0;
    width:90%;
    height: 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(3px);
    clip-path: polygon(0 0, 65% 0%, 55% 100%, 0% 100%);
    overflow: hidden;
  }

  &__image-right {
          @include respond(phone){
          display:none;
          };

    position: absolute;
    bottom: 0;
    left:40%;
    width: 60%;
    height: 70%;
    filter: blur(3px);
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
    overflow: hidden;
  }
}
.header {
    z-index: 1000;
    position: absolute;
    width: 100vw;
    height: 15rem;
    background-image: linear-gradient(#f4f4f4, #9BB39E);
    border: 1px solid #707070;
    text-align: center;
    &__menu{
          @include respond(phone){
            left: 45%;
            top:80%;
            };
      position: absolute;
      left: 90vw;
      top: 10vh;
    }
    &__logo{
      display: block;
      img{
             @include respond(phone){
                margin-top: 1rem;
                height: 7rem;
                width: 13rem;
                }
      margin-top: 2rem;
      height: 10rem;
      width: 18rem;
      }
    }
}

.menu {
        @include respond(phone){
          z-index:1000;
          };
  position: absolute;
  width: 100vw;
  background-color: #101110;
  height: 17rem;
  color: #D8ECDA;

  ul {
    position: absolute;
    top: 3rem;
  }
  li {
          @include respond(phone){
            padding: 0.4rem;
            display: block;
            };
     display: inline;
     padding: 1rem;
  }
  &__close {
        @include respond(phone){
          left: 45%;
          top:70%;
          };
    position: absolute;
    left: 90vw;
    top: 10vh;
  }
}

.landing {
  overflow: auto;
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80vw;
  height: 50vh;
  border-radius: 22px;
  background: transparent;
/* Note: currently only Safari supports backdrop-filter */
backdrop-filter: blur(21.347999572753906px);
--webkit-backdrop-filter: blur(21.347999572753906px);
background-color: rgba(255, 255, 255, 0.31);
/* (plus shape's fill blended on top as a separate layer with 27.26% opacity) */
  h1 {
        @include respond(phone){
          font-size: 80%
          };
    font-size: 2.8rem;
    font-weight: 420px;
    padding-top: 2.4rem;
    font-family: "Montserrat Alternates";
    text-align: center;
  }
  h2 {
        @include respond(phone){
          font-size: 80%
          };
    padding-top: 0.5rem;
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    color: #6f6f6f;
  }

  &__login,&__register {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    margin-left: 25%;
    margin-top: 2rem;
    width: 129px;
    height: 51px;
    border-radius: 9px;
    
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
    cursor: pointer;
  }
   &__login{
    background: linear-gradient(#469bcc 0%, #463a88 100%);
   }
   &__register {
    background: linear-gradient(#a7af5c 0%, #809f11 100%);
  }

}

