* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
body {
	font-family: "Montserrat Alternates", sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


