$link-color: #393C3B;

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
	font-family: 'Lato', sans-serif;
	font-family: "Montserrat Alternates", sans-serif;
    background-color: #E37150;
    font-weight: 400;
    font-size: 16px;
    max-width: 100%;
   // overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $link-color;
  &:visited {
      color: $link-color;
    }
    &:hover {
      color: $link-color;   
    }
    &:active {
      color: $link-color;
    }
}
